<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gr치fico de Sensor</title>
  <!-- Inclua os arquivos CSS e JavaScript necess치rios para o Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Gr치fico de Sensor</h1>
  <canvas id="sensorChart" width="400" height="200"></canvas>

  <script>
    const sensorData = <%- sensorsData %>;
    const formattedData = sensorData.map((sensor) => {
      const date = new Date(sensor.createdAt);
      const hour = date.getHours();
      return { hour, temperatura: sensor.temperatura, umidade: sensor.umidade };
    });

    const ctx = document.getElementById("sensorChart").getContext("2d");
    const data = {
    labels: Array.from({ length: 24 }, (_, i) => `${i.toString().padStart(2, "0")}h`), // Gere r칩tulos de "00h" a "23h"
    datasets: [
      {
        label: "Temperatura",
        data: formattedData.map((entry) => entry.temperatura), // Dados de temperatura
        borderColor: "red",
        backgroundColor: "rgba(255, 0, 0, 0.2)",
      },
      {
        label: "Umidade",
        data: formattedData.map((entry) => entry.umidade), // Dados de umidade
        borderColor: "blue",
        backgroundColor: "rgba(0, 0, 255, 0.2)",
      },
    ],
  };
    const config = {
      type: "line",
      data: data,
    };
    new Chart(ctx, config);
  </script>
</body>
</html>
